* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  color: var(--color);
  background-color: var(--bg-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 20px;
}
.header-link {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--accent-color);
  transition: transform 0.2s ease-in-out;
  text-shadow: var(--btns-shadow);
}
.header-link:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.err-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.err-btn {
  height: 30px;
  width: 100px;
  background-color: red;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}
.err-btn:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
form {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.search-input {
  height: 30px;
  width: 150px;
  margin-right: 20px;
  font-size: 16px;
  background-color: var(--selector-bg-color);
  color: var(--color);
  box-shadow: var(--btns-shadow);
  border: none;
  border-radius: 5px;
}
.search-input:focus,
.search-input:active {
  outline-color: var(--accent-color);
  border: none;
}
.search-btn {
  width: 70px;
  height: 30px;
  background-color: var(--btns-background);
  box-shadow: var(--btns-shadow);
  border: var(--btns-border);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}
.search-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.resource-label {
  font-size: 16px;
}
.resource-selector {
  height: 30px;
  font-size: 16px;
  margin-left: 10px;
  background-color: var(--selector-bg-color);
  color: var(--color);
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.buttons-block {
  margin: 0 auto;
  padding: 20px;
}
.pagination-button,
.single-card-btn,
.flyout-btn {
  height: 30px;
  width: 80px;
  margin-right: 15px;
  color: var(--btn-color);
  background-color: yellow;
  border-radius: 5px;
  border: none;
  box-shadow: var(--btns-shadow);
  transition: transform 0.2s ease-in-out;
}
.flyout-btn {
  width: 120px;
}
.pagination-button:disabled {
  background-color: rgb(212, 212, 150);
}
.pagination-button:hover,
.single-card-btn:hover,
.flyout-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.pagination-button:disabled:hover {
  transform: none;
  cursor: initial;
}
.single-card-btn {
  margin: 0 auto;
}
.cards-outlet-wrapper {
  display: flex;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin: 0 auto;
}
.card {
  width: 300px;
  padding: 10px;
  border: 1px solid gray;
  align-items: flex-start;
}
.card-heading {
  margin: 0;
}
.card-selector {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  text-shadow: var(--btns-shadow);
}
.card-selector input {
  margin: 3px 0 0 7px;
}
.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: var(--accent-color);
  text-shadow: var(--btns-shadow);
}
.try-again-btn {
  width: 100px;
  height: 30px;
  color: var(black);
  background-color: yellow;
  box-shadow: var(--btns-shadow);
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}
.try-again-btn:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.single-card-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.single-card {
  position: sticky;
  top: 0;
  width: 30%;
  height: fit-content;
  flex-shrink: 0;
  padding: 20px;
  z-index: 1;
}
.title-name {
  color: var(--accent-color);
  text-shadow: var(--btns-shadow);
}
.loader_wrapper {
  display: inline-block;
  position: relative;
  align-self: center;
  height: 100px;
  margin: 0 auto;
  filter: drop-shadow(0 0 1px yellow);
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: arial;
  color: yellow;
  text-shadow: 1px 1px 1px black;
  animation: blink 1s ease infinite;
}

.loader {
  width: 100px;
  height: 100px;
  animation: flip 2s linear infinite;
}
.loader path {
  stroke: black;
  stroke-width: 30;
  fill: transparent;

  stroke-dasharray: 100px 5px;
  animation: spin 1s ease-in-out infinite alternate;
}
@keyframes spin {
  0% {
    stroke-dashoffset: 500;
    opacity: 0.5;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}
@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vw;
  color: yellow;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.flyout-wrapper {
  position: sticky;
  left: calc(50% - 225px);
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  width: 550px;
  padding: 10px;
  color: var(--color);
  border: 1px solid var(--accent-color);
  border-radius: 15px;
  box-shadow: var(--btns-shadow);
}
