:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color-light: #f0eaea;
  --color-light: #000000;
  --btns-background-light: #ffff00;
  --btns-border-light: none;
  --btns-shadow-light: 0 0 3px #000000;
  /* --accent-color-shadow-light: 0 0 3px #000000; */
  --accent-color: #ffff00;
  --btn-color: #000000;
  --bg-color-dark: #242424;
  --color-dark: #f0eaea;
  --btns-background-dark: #ffff00;
  --btns-border-dark: none;
  --btns-shadow-dark: none;
  /* --accent-color-shadow-dark: none; */
}

[data-theme='light'] {
  --bg-color: var(--bg-color-light);
  --color: var(--color-light);
  --btn-color: var(var(--btn-color));
  --btns-background: var(--btns-background-light);
  --btns-border: var(--btns-border-light);
  --btns-shadow: var(--btns-shadow-light);
  /* --accent-color-shadow: var(--accent-color-shadow-light); */
}

[data-theme='dark'] {
  --bg-color: var(--bg-color-dark);
  --color: var(--color-dark);
  --btn-color: var(var(--btn-color));
  --btns-background: var(--btns-background-dark);
  --btns-border: var(--btns-border-dark);
  --btns-shadow: var(--btns-shadow-dark);
  /* --accent-color-shadow: var(--accent-color-shadow-dark); */
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}
